.tabs-container{
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1;
  padding: 10px;
  width: 100%;
}

.tabs-container a{
  cursor: pointer;
  border-right: 1px solid grey;
  margin: 0 5px;
  padding: 0 3px;
}