.tabs-container{
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  z-index: 1;
  width: 100%;
}

.tabs-container a{
  display: inline-flex;
  cursor: pointer;
  padding: 11px;
  font-weight: 100;
  background-color: #1c2022;
  color: #d4d4d4;
  font-style: italic;
  border-right: 1px solid #585858bf;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
}

.tabs-container a.active{
  height: calc(100% - 2px);
  border-bottom: 2px solid #6caedd;

}